<div id="<%= dom_id orden_trabajo %>">
  <p>
    <strong>Trnum:</strong>
    <%= orden_trabajo.trnum %>
  </p>

  <p>
    <strong>Trcan:</strong>
    <%= orden_trabajo.trcan %>
  </p>

  <p>
    <strong>Trcar:</strong>
    <%= orden_trabajo.trcar %>
  </p>

  <p>
    <strong>Clinom:</strong>
    <%= orden_trabajo.clinom %>
  </p>

  <p>
    <strong>Papel:</strong>
    <%= orden_trabajo.papel %>
  </p>

  <p>
    <strong>Gramaje:</strong>
    <%= orden_trabajo.gramaje %>
  </p>

  <p>
    <strong>Colores:</strong>
    <%= orden_trabajo.colores %>
  </p>

  <p>
    <strong>Pliego:</strong>
    <%= orden_trabajo.pliego %>
  </p>

  <p>
    <strong>Nomprod:</strong>
    <%= orden_trabajo.nomprod %>
  </p>

  <p>
    <strong>Fecentr:</strong>
    <%= orden_trabajo.fecentr %>
  </p>

  <p>
    <strong>Cam10:</strong>
    <%= orden_trabajo.cam10 %>
  </p>

  <p>
    <strong>Cam12:</strong>
    <%= orden_trabajo.cam12 %>
  </p>

  <p>
    <strong>Cam24:</strong>
    <%= orden_trabajo.cam24 %>
  </p>

  <p>
    <strong>Procesos:</strong>
    <%= orden_trabajo.procesos %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= orden_trabajo.observaciones %>
  </p>

  <p>
    <strong>Estado actual:</strong>
    <%= orden_trabajo.estado_actual %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= orden_trabajo.estado %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= orden_trabajo.deadline %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= orden_trabajo.priority %>
  </p>

</div>
