<h1 class="m-3 bg-primary text-center p-2 text-white rounded">
  <strong>Nuevas órdenes de trabajo</strong>
</h1>

<div class="container">
  <table class="table table-striped table-hover align-middle">
    <thead class="bg-dark text-white">
      <tr>
        <th>OT</th>
        <th>Cliente</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Papel</th>
        <th>Gramaje</th>
        <th>Estado</th>
        <th>Fecha ingreso</th>
        <th>Fecha prometida</th>
      </tr>
    </thead>

    <tbody>
      <% @orden_trabajos.each do |orden_trabajo| %>
        <tr>
          <td><strong><%= orden_trabajo.trnum %></strong></td>
          <td>
            <%= link_to orden_trabajo.clinom, orden_trabajo_path(orden_trabajo), class: "text-decoration-none" %>
          </td>
          <td><%= orden_trabajo.nomprod.first(30) %></td>
          <td><%= orden_trabajo.trcan %></td>
          <td><strong><%= orden_trabajo.papel %></strong></td>
          <td><strong><%= orden_trabajo.gramaje %></strong></td>
          <td><%= orden_trabajo.estado_actual %></td>
          <td><%= orden_trabajo.trcar.try(:strftime, "%d-%m-%Y") %></td>
          <td><%= orden_trabajo.deadline.try(:strftime, "%d-%m-%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
