<h1 class="m-3 bg-primary text-center p-2 text-white rounded">
  <strong>Insumos y tintas de trabajos</strong>
</h1>
  <!-- ðŸ” Buscador -->
  <div class="flex-grow-1 text-center my-2">
    <input class="form-control d-inline-block w-50"
           id="buscador_datos"
           type="text"
           placeholder="Buscar trabajo...">
  </div>

<div class="container">
  <table id="TablaOrdenesTrabajos" class="table table-striped table-hover table-responsive align-middle text-center">
    <thead class="bg-info text-white">
      <tr>
        <th>OT</th>
        <th>Cliente</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Papel</th>
        <th>Gramaje</th>
        <th>Color</th>        
      </tr>
    </thead>

    <tbody>
      <% @orden_trabajos.each do |orden_trabajo| %>
        <tr>
          <td><strong><%= orden_trabajo.trnum %></strong></td>
          <td>
            <%= link_to orden_trabajo.clinom, orden_trabajo_path(orden_trabajo), class: "text-decoration-none" %>
          </td>
          <td><%= orden_trabajo.nomprod.first(30) %></td>
          <td><%= orden_trabajo.trcan %></td>
          <td><strong><%= orden_trabajo.papel %></strong></td>
          <td><strong><%= orden_trabajo.gramaje %></strong></td>
          <td><strong><%= orden_trabajo.colores %></strong></td>          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
