<div class="container mt-4">

  <h3 class="mb-3">Asignar trabajos por máquina</h3>

  <div class="row align-items-center mb-4">

    <!-- 🔽 Dropdown máquinas -->
    <div class="col-md-4">
      <label class="form-label fw-bold mb-1 fs-4">Seleccione máquina</label>
      <%= form_with url: "#" do %>
        <%= select_tag :maquina,
              options_for_select(OrdenTrabajo::POST),
              class: "form-select form-select-lg" %>
      <% end %>
    </div>

    <!-- 🔍 Buscador -->
    <div class="col-md-8">
      <label class="form-label fw-bold mb-1 fs-4">Buscar</label>
      <input class="form-control"
             id="buscador_datos"
             type="text"
             placeholder="Buscar trabajo...">
    </div>

  </div>
  <hr>
  <!-- 📌 Controlador Stimulus -->
  <div data-controller="seleccion">
    
    <!-- ⭐ Tabla 1 - lista de clientes -->
    <h4>Trabajos disponibles</h4>
    <table id="TablaOrdenesTrabajos" class="table table-striped table-hover table-responsive align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>OT</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Proceso</th>
          <th>Acción</th>
        </tr>
      </thead>

      <tbody>
        <% @ordenes.each do |ot| %>
          <tr>
            <td class="
                    <%=
                      case ot.priority
                      when 'Alta'  then 'bg-danger text-white'
                      when 'Media' then 'bg-warning'
                      else              'bg-success text-white'
                      end
                    %>">
                    <strong><%= ot.trnum %></strong>
            </td>
            <td><%= link_to ot.clinom,
                    orden_trabajo_path(ot)%></td>
            <td><%= ot.nomprod.first(25) %></td>

            <!-- 👉 Nueva columna PROCESO con identificador -->
            <td data-proceso data-id="<%= ot.id %>"><%= ot.procesos %></td>

            <td>
              <button
                type="button"
                class="btn btn-success btn-sm"
                data-action="seleccion#agregar"
                data-id="<%= ot.id %>"
                data-cliente="<%= ot.clinom %>"
                data-ot="<%= ot.trnum %>"
                data-prod="<%= ot.nomprod %>"
                data-procesos="<%= ot.procesos %>">
                ➕ Agregar
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <!-- ⭐ Tabla 2 - seleccionados -->
    <h4 class="mt-4">Trabajos seleccionados</h4>

    <table class="table table-bordered table-hover mt-3">
      <thead class="table-primary">
        <tr>
          <th>OT</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Proceso</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="seleccionados" data-seleccion-target="lista">
        <!-- Aquí Stimulus inserta filas -->
      </tbody>
    </table>
  </div>

</div>
